#facts {
    background: #f7f7f7;
    padding: 80px 0 60px 0;
  }
  
  #facts .counters span {
    font-size: 48px;
    display: block;
    color: #FF7F50	;
  }
  
  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Kanit","Poppins", sans-serif;
    font-size: 14px;
  }

  /* Call To Action Section
--------------------------------*/
#call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/call-to-action-bg2.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  @media (max-width: 1024px) {
    #call-to-action {
      background-attachment: scroll;
    }
  }
  
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: #fff;
  }
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Kanit","Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #FF7F50	;
    border: 2px solid #FF7F50	;
  }